<!DOCTYPE html>
<html>
    <head>
        <title> Pigeon Farm 0.1.0 </title>
        <style> {{ style }} </style>
    </head>
    <body>
        <div id="map"> {{ map }} </div>
        <div id="inventory"> {{ inventory }} </div>
        <div id="speech"> {{ speech }} </div>
        <div id="settings"> {{ settings }} </div>
    </body>
</html>